<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users block-grid-lg-4 block-grid-md-3 block-grid-sm-2  block-grid-xs-1">
  <%= render @users %>
</ul>

<%= will_paginate %>