<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<% @users.each_slice(4) do |users| %>
  <div class="row">
    <% users.each do |user| %>
      <%= render user %>
    <% end %>
  </div>
<% end %>

<%= will_paginate %>